@-webkit-keyframes bounce {
  from, to  {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes bounce {
  from, to  {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

.bounce {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}
