@-webkit-keyframes bounce {
    from, to  {
    transform-origin: bottom;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(-50%);
      transform-origin: bottom;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
}

@keyframes bounce {
    from, to  {
    transform-origin: bottom;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(-50%);
      transform-origin: bottom;
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
}

.bounce {
    -webkit-animation: bounce 1s infinite;
            animation: bounce 1s infinite;
}