html {
    background-image: url('../img/DarkHolographic.png');   
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */
    /* width: 100%; */
    margin: auto;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 20px;
    flex-direction: row;
    margin: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    color: #fff;
    /* border: 2px solid #F7ECE1; */
}

.element-container {
    flex: auto;
    border: 2px solid #fff;
    border-radius: 10px;
    min-height: 250px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

svg {
    stroke: #fff;
    max-width: 100px;
}

.fill {
    fill: #fff;
}

.bg-white {
    background: white;
}

.bg-dark {
    background: #4b4b4b;
    border: #4b4b4b;
}