.lock-icon path {
    fill: #fff;
    stroke: none;
}

@-webkit-keyframes lower {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(16%)
    }
}

@keyframes lower {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(16%)
    }
}


.lock-container:hover .lock-icon .top{
    -webkit-animation: lower;
            animation: lower;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

