@-webkit-keyframes squares-disappear-1 {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

@keyframes squares-disappear-1 {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

@-webkit-keyframes squares-disappear-2 {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@keyframes squares-disappear-2 {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes squares-disappear-3 {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@keyframes squares-disappear-3 {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@-webkit-keyframes squares-disappear-4 {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@keyframes squares-disappear-4 {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

.squares-disappear {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

.squares-disappear-anim .top-left {
    -webkit-animation-name: squares-disappear-1;
            animation-name: squares-disappear-1;
}

.squares-disappear-anim .top-right {
    -webkit-animation-name: squares-disappear-2;
            animation-name: squares-disappear-2;
}

.squares-disappear-anim .bottom-right {
    -webkit-animation-name: squares-disappear-3;
            animation-name: squares-disappear-3;
}

.squares-disappear-anim .bottom-left {
    -webkit-animation-name: squares-disappear-4;
            animation-name: squares-disappear-4;
}