@-webkit-keyframes ripple {
    from {
        /* width: 10px; */
        /* height: 10px; */
        transform: scale(0.1);
        transform-origin: center;
        opacity: 1;
    }
    to {
        /* width: 77px; */
        /* height: 77px; */
        tranform: scale(1);
        transform-origin: center;
        opacity: 0;
    }
}
@keyframes ripple {
    from {
        /* width: 10px; */
        /* height: 10px; */
        transform: scale(0.1);
        transform-origin: center;
        opacity: 1;
    }
    to {
        /* width: 77px; */
        /* height: 77px; */
        tranform: scale(1);
        transform-origin: center;
        opacity: 0;
    }
}
.ripple {
    -webkit-animation: ripple;
            animation: ripple;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes ripple-reverse {
    from {
        width: 77px;
        height: 77px;
        opacity: 1;
    }
    to {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
}

@keyframes ripple-reverse {
    from {
        width: 77px;
        height: 77px;
        opacity: 1;
    }
    to {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
}
.ripple-reverse {
    -webkit-animation: ripple-reverse;
            animation: ripple-reverse;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
