/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

mask rect, circle {
    fill: #fff;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        -webkit-transform-origin: center;
                transform-origin: center;
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        -webkit-transform-origin: center;
                transform-origin: center;
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
        -webkit-transform-origin: center;
                transform-origin: center;
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        -webkit-transform-origin: center;
                transform-origin: center;
    }
}
.rotate {
    -webkit-animation: rotate;
            animation: rotate;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.rotate-cubic {
    -webkit-animation: rotate;
            animation: rotate;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.5,3,0.5,-3);
            animation-timing-function: cubic-bezier(0.5,3,0.5,-3);
}