mask rect, circle {
    fill: #fff;
}

@keyframes rotate {
    from {
        transform: rotate(0);
        transform-origin: center;
    }
    to {
        transform: rotate(360deg);
        transform-origin: center;
    }
}
.rotate {
    animation: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.rotate-cubic {
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.5,3,0.5,-3);
}
