/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@-webkit-keyframes translateY {
    0% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    50% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    100% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
}
@keyframes translateY {
    0% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    50% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    100% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
}
.translateY {
    -webkit-animation: translateY;
            animation: translateY;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.translateY-delay {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

@-webkit-keyframes around {
    0% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    25% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    75% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);

    }
}

@keyframes around {
    0% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    25% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    50% {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    75% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);

    }
}

.around {
    -webkit-animation: around;
            animation: around;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes around2 {
    0% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    25% {
        -webkit-transform: translateX(53%);
                transform: translateX(53%);
    }
    50% {
        -webkit-transform: translate(53%, -50%);
                transform: translate(53%, -50%);
    }
    75% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);

    }
}

@keyframes around2 {
    0% {
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    25% {
        -webkit-transform: translateX(53%);
                transform: translateX(53%);
    }
    50% {
        -webkit-transform: translate(53%, -50%);
                transform: translate(53%, -50%);
    }
    75% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);

    }
}

.around2 {
    -webkit-animation: around2;
            animation: around2;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
.around-delay {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}
